<h2>hello</h2>
{{#link-to 'application'}}Home{{/link-to}}
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'enter'}}Enter{{/link-to}}
{{#link-to 'team-declaration'}}Team Declaration{{/link-to}}
{{#link-to 'gallery'}}Gallery{{/link-to}}
{{#link-to 'results'}}Results{{/link-to}}
{{#link-to 'pages'}}Pages{{/link-to}}
{{link-to 'Enter page' 'page' 'enter'}}
<div class="container">  
 {{outlet}}
</div> 